%nav.navbar-dark.bg-dark
  %span.navbar-brand.mb-0.h1 Online Game Store
.game-container.container
  .row
    .col-2.bg-primary
    .col-10
      .row  
        - @games.each do |game|
          .col-lg-3.col-md-4.col-sm-6.game-element
            .row
              = image_tag(game.cover, size: '300x200') if game.cover.attached?
            .row.game-name
              = truncate(game.name, length: 20)
            .row.game-price
              = to_dollars(game.price)