/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "_bootstrap";
 @import "font-awesome";
 @import "slick";

 .game-title {
   text-align: right;
 }

 .game-element {
   margin: 25px;
 }

 .game-container {
   margin: 0px;
   margin-right: 0;
 }

 .sidebar-wrapper {
    min-height: 100vh;
    min-width: 16vw;
    width: 25vw;
}

body{
  overflow-x: hidden;
}

.sign_form {
  margin: 30px;
  input{
    margin-bottom: 10px;
  }
}

.navbar-ht {
  padding-bottom: 10px;
  padding-top: 10px;
}

.sort_link {
  color: aliceblue;
}

.search {
  margin-top: 20px;
  width: 220px;
  input {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .col-6 {
    input {
      width: 100%;
      font-size: 12px;
    }
  }
  input[type = 'submit'] {
    width: 30%;
    padding: 0;
    background-color: #007bff;
    color: #ffffff;
    border-color: #fff;
    transition: all .4s;
    &:hover{
      background-color: #fff;
      color: #000;
    }
  }
}

.page-content-wrapper {
  min-width: 100vw;
}

.bucket-card-text {
  vertical-align: middle;
  text-align: center;
  line-height: 35px;
}

.checked {
  color: orange;
}

.rate {
  margin-right: 15px;
}
 @media (min-width: 768px) {
  .sidebar-wrapper {
    margin-left: 0;
  }

  .page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
}

.menu-item {
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e1e4e8;
}

.menu-item-selected {
  font-weight: 600;
  color: #24292e;
}

.menu-heading {
  background-color: #f3f5f8;
}

.subhead {
  padding-bottom:  8px;
  border-bottom: 1px solid #e1e4e8;
}

.form-group {
  margin: 15px 0;
}

.game-card {
  margin: 20px;
  box-shadow: none;
  transition: all .4s;
  &:hover{
    box-shadow: 0px 0px 13.5px 1.5px rgba(75, 75, 75, 0.25);
  }
  a{
    overflow: hidden;
    img{
      transition: transform 0.4s;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}

.links {
  padding-right: 20px;
  margin-right: 0px;
}

.cont-main {
  margin-top: 20px;
}

.custom_row {
  margin-left: 15px;
}

.user-form {
  padding-top: 20px;
}
#myCarousel .list-inline {
  white-space:nowrap;
  overflow-x:auto;
}

#myCarousel .carousel-indicators {
  position: static;
  left: initial;
  width: initial;
  margin-left: initial;
}

#myCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
}

#myCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}

.carousel-item {
  img{
    width: 100%;
    height: 400px;
  }
}

.comment-body {
  word-wrap: break-word;
  border-color: gainsboro;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;;
}

.game-page {
  margin-top: 20px;
  margin-right: 200px;
  margin-left: 200px;
}

.game-comments-name {
  margin-top: 20px;
  margin-left: 20px;
  justify-content: center;
}

.game-comments {
  margin-top: 20px;
  margin-left: 20px;
  justify-content: left;
}

.game_name {
  font-size: 42px;
  font-weight: 800;
}

.game_data {
  font-size: 28px;
  font-weight: 400;
}

.cover {
  max-height: 550px;
  min-width: 1400px;
}

.col-4.game_button {
  padding-left: 0px;
}

#tag_cloud {
  width: 100%;
  box-shadow: 0px 3px 8px -4px rgba(0,0,0,0.15);
  background: white;
  border-radius: 4px;
  padding: 10px 15px 12px 60px;
  line-height: 1.6em;
  a:not(:last-child) {
    margin-right: 5px;
  }
  .xxs { font-size: 0.8em; COLOR: #c3c4c4; }
  .xs { font-size: 1.0em; COLOR: #b9bdbd; }
  .s { font-size: 1.2em; COLOR: #b0b5b5; }
  .m { font-size: 1.4em; COLOR: #9da6a6; }
  .l { font-size: 1.6em; COLOR: #8a9797; }
  .xl { font-size: 1.8em; COLOR: #809090; }
  .xxl { font-size: 2.0em; COLOR: #778888; }
}

.nav_game_slider {
  margin: 0 10px;
  .slick-arrow{
    cursor: pointer;
    top: 26%;
    position: absolute;
    &.next{
      right: -10px;
    }
    &.prev{
      left: -10px;
    }
  }

  .game-slide__wrapper {
    width: 120px;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.game_slider {
  margin-bottom: 15px;
  .game-slide{
    height: 380px;
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.comment_raiting {
  height: 100%;
  .row{
    margin-left: 0;
  }
  .btn{
    width: 100px;
  }
}
